@import "./mixins.scss";
@import "./shared.scss";

.active {
  @include icon(green);
}
.inactive {
  @include icon(red);
}
.table-header {
  background-color: $tableHeaderBg;
  color: $white;
}
.filter-inputs {
  .react-datepicker-wrapper {
    margin-right: 10px;
  }
}
.add-campaign {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 0;
  left: 0;
  height: 200px;
  background-color: $white;
  border-top: 1px solid $gray;
  &.closed{
    height: 50px;
  }
  .react-datepicker-wrapper,
  .form-control {
    margin-right: 10px;
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  .close-icon {
    position: fixed;
    right: 3%;
    bottom: 21%;
    z-index: 99999;
    .btn {
      font-size: 20px !important;
      font-weight: bold;
    }
  }
}

.cursor-pointer {cursor: pointer;}
