@import "./tokens.scss";

@mixin icon($bgcolor: $defaultIconColor) {
  position: relative;
  &::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: $bgcolor;
    border: 1px solid $bgcolor;
    border-radius: 50%;
    position: absolute;
    left: -18px;
    top: 5px;
  }
}

@mixin mx-custom-scrollbar($width: 5) {
  &::-webkit-scrollbar {
    width: #{$width}px;
  }
  &::-webkit-scrollbar-track {
    background: $sms-light-white;
  }
  &::-webkit-scrollbar-thumb {
    background: $msmp-dark-gray2;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    &:hover {
      background: $msmp-dark-gray3;
    }
  }
}
@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -ms-transform: rotate($angle);
  -o-transform: rotate($angle);
  transform: rotate($angle);
}

@mixin spinnerIcon($height: 1em, $width: 1em) {
  content: "";
  display: block;
  font-size: 10px;
  width: $width;
  height: $height;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0,
    rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0,
    rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}
